API_SERVICE_ENV=dev
API_SERVICE_PORT=8000
API_SERVICE_LOG_LEVEL=INFO

# MySQL
MYSQL_HOST=192.168.28.170
MYSQL_PORT=3306
MYSQL_DB=yunshu_api_data_platform
MYSQL_USER=root
MYSQL_PASSWORD=root123



# Redis
REDIS_HOST=192.168.28.170
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=root123
REDIS_ENABLE=true

# Security
# Fernet Key for API Key Encryption (Must be 32 url-safe base64-encoded bytes)
ENCRYPTION_KEY=KkJgK_d-1Jda9CAp7iGhRDzuXLYZfnid2siBeIC5lqw=
